<form method="POST" action="" enctype="multipart/form-data">

    <label for="coffees">Type Of Coffee:</label>
    <select name="coffees" id="coffees">
        <option value="latte">Latte</option>
        <option value="cappuccino">Cappuccino</option>
        <option value="americano">Americano</option>
        <option value="espresso">Espresso</option>
    </select>
    <br>
    <label name="quantity" >Quantity:</label>
    <input type="text" name="Quantity" value=" " />
    <br><br>
    <input type="submit" value="Submit">
</form>