
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=['blogsite.site']}"/>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootcamp Blog</title>

    <link rel="canonical" href="homepage.html">

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

</head>

<body>

<h4 class="font-italic">About</h4>
<p class="mb-0">${properties.text}</p>
</body>








